<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Familiares</title>
</head>
<body>
    <h1 style="color: blue;">Lista de Familiares</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Fecha Nacimiento</th>
            </tr>
        </thead>

        <tbody>
            {% for item in familiares %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.fecha }}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</body>
</html>